<configuration>
    <connectionStrings>
        <add 
            name="AppDbContext"
            connectionString="Server=DESKTOP-PSB2MJT\SQLEXPRESS01;Database=shopapp_db;Integrated Security=True"
            providerName="System.Data.SqlClient" 
        />
    </connectionStrings>
</configuration>